# pandas è¿›é˜¶ä¿®ç‚¼
<br>
æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚


ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

## 7 - æ•°æ®é€è§†ä¸åˆå¹¶



<br>

**<font color = '#5172F0'><font size=3.5>å¿…è¯»ğŸ‘‡ğŸ‘‡ğŸ‘‡**</font>
    
ç°åœ¨è®©æˆ‘ä»¬ç»§ç»­ç»ƒä¹  pandasæ•°æ®åˆ†æå¦ä¸€ç»„å¸¸ç”¨æ“ä½œ --> **æ•°æ®é€è§†ä¸åˆå¹¶**


æœ¬èŠ‚ä¹ é¢˜å°†æ¶‰åŠå››å¤§å‡½æ•°ï¼š
    
- pivot_table
- concat
- merge
- join

éšç€ç»ƒä¹ çš„æ·±å…¥ï¼Œè‹¥æ²¡æœ‰ä¸€å®šçš„åŸºç¡€çŸ¥è¯†å°†å¾ˆéš¾ç»§ç»­åˆ·é¢˜
    
å®˜æ–¹æ–‡æ¡£æ°¸è¿œæ˜¯æœ€å¥½çš„å­¦ä¹ æ‰‹å†Œï¼Œåœ¨æœ¬èŠ‚ä¹‹å‰å¼ºçƒˆå»ºè®®å­¦ä¹ [å®˜æ–¹æ–‡æ¡£å¯¹åº”éƒ¨åˆ†](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## æ•°æ®é€è§†è¡¨

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 1 - åŠ è½½æ•°æ®

è¯»å–å½“å‰ç›®å½•ä¸‹ `"æŸè¶…å¸‚é”€å”®æ•°æ®.csv"` å¹¶è®¾ç½®åƒåˆ†ä½ç¬¦å·ä¸º `,`

In [15]:
import pandas as pd
df = pd.read_csv('æŸè¶…å¸‚é”€å”®æ•°æ®.csv',thousands=',')

In [16]:
df.head()

,è®¢å•ID,è®¢å•æ—¥æœŸ,é‚®å¯„æ–¹å¼,å›½å®¶,åœ°åŒº,çœ/è‡ªæ²»åŒº,ç»†åˆ†,ç±»åˆ«,å­ç±»åˆ«,åˆ¶é€ å•†,äº§å“åç§°,æ•°é‡,é”€å”®é¢,åˆ©æ¶¦
0,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers æ–‡ä»¶è½¦, å•å®½åº¦",5,3305,1322
1,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,å®¶å…·,æ¡Œå­,Barricks,"Barricks åœ†æ¡Œ, ç™½è‰²",3,5289,-635
2,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,ç”µè¯,è¯ºåŸºäºš,"è¯ºåŸºäºš æ™ºèƒ½æ‰‹æœº, æ•´åŒ…",3,1725,69
3,A1000001,2013/1/1,äºŒçº§,ä¸­å›½,ä¸­å—,æ¹–å—,å…¬å¸,æŠ€æœ¯,é…ä»¶,è´å°”é‡‘,"è´å°”é‡‘ è®°å¿†å¡, å®æƒ",3,1607,611
4,A1000003,2013/1/2,äºŒçº§,ä¸­å›½,åä¸œ,ç¦å»º,æ¶ˆè´¹è€…,åŠå…¬ç”¨å“,æ”¶çº³å…·,Rogers,"Rogers ç›’, å·¥ä¸š",4,456,128

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9935 entries, 0 to 9934
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è®¢å•ID    9935 non-null   object
 1   è®¢å•æ—¥æœŸ    9935 non-null   object
 2   é‚®å¯„æ–¹å¼    9935 non-null   object
 3   å›½å®¶      9935 non-null   object
 4   åœ°åŒº      9935 non-null   object
 5   çœ/è‡ªæ²»åŒº   9935 non-null   object
 6   ç»†åˆ†      9935 non-null   object
 7   ç±»åˆ«      9935 non-null   object
 8   å­ç±»åˆ«     9935 non-null   object
 9   åˆ¶é€ å•†     9935 non-null   object
 10  äº§å“åç§°    9935 non-null   object
 11  æ•°é‡      9935 non-null   int64
 12  é”€å”®é¢     9935 non-null   int64
 13  åˆ©æ¶¦      9935 non-null   int64
dtypes: int64(3), object(11)
memory usage: 1.1+ MB

### 2 - æ•°æ®é€è§†ï½œé»˜è®¤

åˆ¶ä½œå„çœã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [4]:
import numpy as np

In [18]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº'],aggfunc=[np.mean])

              mean
               é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934
äº‘å—     1863.789030
å†…è’™å¤    1314.826316
åŒ—äº¬     1726.857143
å‰æ—     1701.563567
å››å·     1157.875536
å¤©æ´¥     1611.206667
å®å¤     1651.680000
å®‰å¾½     1477.868251
å±±ä¸œ     1642.659111
å±±è¥¿     1751.359184
å¹¿ä¸œ     1592.185340
å¹¿è¥¿     1675.061135
æ–°ç–†     1402.384615
æ±Ÿè‹     1279.898089
æ±Ÿè¥¿     1966.477876
æ²³åŒ—     1780.275248
æ²³å—     1558.400335
æµ™æ±Ÿ     1347.277778
æµ·å—     1721.982759
æ¹–åŒ—     1324.808442
æ¹–å—     1603.702222
ç”˜è‚ƒ     1602.893443
ç¦å»º     1732.044693
è¥¿è—      201.000000
è´µå·     1425.978723
è¾½å®     1363.381982
é‡åº†     1383.082927
é™•è¥¿     1880.606635
é’æµ·     2978.954545
é»‘é¾™æ±Ÿ    1800.438503

In [19]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº'])

               é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934
äº‘å—     1863.789030
å†…è’™å¤    1314.826316
åŒ—äº¬     1726.857143
å‰æ—     1701.563567
å››å·     1157.875536
å¤©æ´¥     1611.206667
å®å¤     1651.680000
å®‰å¾½     1477.868251
å±±ä¸œ     1642.659111
å±±è¥¿     1751.359184
å¹¿ä¸œ     1592.185340
å¹¿è¥¿     1675.061135
æ–°ç–†     1402.384615
æ±Ÿè‹     1279.898089
æ±Ÿè¥¿     1966.477876
æ²³åŒ—     1780.275248
æ²³å—     1558.400335
æµ™æ±Ÿ     1347.277778
æµ·å—     1721.982759
æ¹–åŒ—     1324.808442
æ¹–å—     1603.702222
ç”˜è‚ƒ     1602.893443
ç¦å»º     1732.044693
è¥¿è—      201.000000
è´µå·     1425.978723
è¾½å®     1363.381982
é‡åº†     1383.082927
é™•è¥¿     1880.606635
é’æµ·     2978.954545
é»‘é¾™æ±Ÿ    1800.438503

In [20]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº'],aggfunc='mean')

               é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934
äº‘å—     1863.789030
å†…è’™å¤    1314.826316
åŒ—äº¬     1726.857143
å‰æ—     1701.563567
å››å·     1157.875536
å¤©æ´¥     1611.206667
å®å¤     1651.680000
å®‰å¾½     1477.868251
å±±ä¸œ     1642.659111
å±±è¥¿     1751.359184
å¹¿ä¸œ     1592.185340
å¹¿è¥¿     1675.061135
æ–°ç–†     1402.384615
æ±Ÿè‹     1279.898089
æ±Ÿè¥¿     1966.477876
æ²³åŒ—     1780.275248
æ²³å—     1558.400335
æµ™æ±Ÿ     1347.277778
æµ·å—     1721.982759
æ¹–åŒ—     1324.808442
æ¹–å—     1603.702222
ç”˜è‚ƒ     1602.893443
ç¦å»º     1732.044693
è¥¿è—      201.000000
è´µå·     1425.978723
è¾½å®     1363.381982
é‡åº†     1383.082927
é™•è¥¿     1880.606635
é’æµ·     2978.954545
é»‘é¾™æ±Ÿ    1800.438503

### 3 - æ•°æ®é€è§†ï½œæŒ‡å®šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [22]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº'],aggfunc='sum')

           é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601
äº‘å—      441718
å†…è’™å¤     249817
åŒ—äº¬      350552
å‰æ—      896724
å››å·      269785
å¤©æ´¥      483362
å®å¤       41292
å®‰å¾½      684253
å±±ä¸œ     1884130
å±±è¥¿      429083
å¹¿ä¸œ     1520537
å¹¿è¥¿      383589
æ–°ç–†       72924
æ±Ÿè‹      401888
æ±Ÿè¥¿      222212
æ²³åŒ—      899039
æ²³å—      930365
æµ™æ±Ÿ      266761
æµ·å—       99875
æ¹–åŒ—      408041
æ¹–å—      721666
ç”˜è‚ƒ      195553
ç¦å»º      620072
è¥¿è—         201
è´µå·       67021
è¾½å®      756677
é‡åº†      283532
é™•è¥¿      396808
é’æµ·       65537
é»‘é¾™æ±Ÿ    1346728

### 4 - æ•°æ®é€è§†ï½œå¤šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€ä¸ã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [25]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº'],aggfunc=['sum','mean'])

           sum         mean
           é”€å”®é¢          é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601  1875.712934
äº‘å—      441718  1863.789030
å†…è’™å¤     249817  1314.826316
åŒ—äº¬      350552  1726.857143
å‰æ—      896724  1701.563567
å››å·      269785  1157.875536
å¤©æ´¥      483362  1611.206667
å®å¤       41292  1651.680000
å®‰å¾½      684253  1477.868251
å±±ä¸œ     1884130  1642.659111
å±±è¥¿      429083  1751.359184
å¹¿ä¸œ     1520537  1592.185340
å¹¿è¥¿      383589  1675.061135
æ–°ç–†       72924  1402.384615
æ±Ÿè‹      401888  1279.898089
æ±Ÿè¥¿      222212  1966.477876
æ²³åŒ—      899039  1780.275248
æ²³å—      930365  1558.400335
æµ™æ±Ÿ      266761  1347.277778
æµ·å—       99875  1721.982759
æ¹–åŒ—      408041  1324.808442
æ¹–å—      721666  1603.702222
ç”˜è‚ƒ      195553  1602.893443
ç¦å»º      620072  1732.044693
è¥¿è—         201   201.000000
è´µå·       67021  1425.978723
è¾½å®      756677  1363.381982
é‡åº†      283532  1383.082927
é™•è¥¿      396808  1880.606635
é’æµ·       65537  2978.954545
é»‘é¾™æ±Ÿ    1346728  1800.438503

### 5 - æ•°æ®é€è§†ï½œå¤šæŒ‡æ ‡

åˆ¶ä½œå„çœå¸‚ã€Œé”€å”®æ€»é¢ã€ä¸ã€Œåˆ©æ¶¦æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [26]:
pd.pivot_table(df,values=['é”€å”®é¢','åˆ©æ¶¦'],index=['çœ/è‡ªæ²»åŒº'],aggfunc='sum')

           åˆ©æ¶¦      é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      87236   594601
äº‘å—      83201   441718
å†…è’™å¤    -20685   249817
åŒ—äº¬      57883   350552
å‰æ—     152504   896724
å››å·     -16615   269785
å¤©æ´¥      63108   483362
å®å¤      -1149    41292
å®‰å¾½     133312   684253
å±±ä¸œ     310042  1884130
å±±è¥¿      79913   429083
å¹¿ä¸œ     278591  1520537
å¹¿è¥¿      61444   383589
æ–°ç–†      13696    72924
æ±Ÿè‹      -6500   401888
æ±Ÿè¥¿      27144   222212
æ²³åŒ—     153247   899039
æ²³å—     168714   930365
æµ™æ±Ÿ     -17024   266761
æµ·å—      21298    99875
æ¹–åŒ—     -22896   408041
æ¹–å—      92944   721666
ç”˜è‚ƒ     -25298   195553
ç¦å»º     133791   620072
è¥¿è—          4      201
è´µå·       5408    67021
è¾½å®     -24930   756677
é‡åº†      39688   283532
é™•è¥¿      61753   396808
é’æµ·       4354    65537
é»‘é¾™æ±Ÿ    228262  1346728

### 6 - æ•°æ®é€è§†ï½œå¤šç´¢å¼•

åˆ¶ä½œã€Œå„çœå¸‚ã€ä¸ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [27]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc='sum')

               é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  198529
      å®¶å…·    221058
      æŠ€æœ¯    175014
äº‘å—    åŠå…¬ç”¨å“  123051
      å®¶å…·    174155
...            ...
é’æµ·    å®¶å…·     25923
      æŠ€æœ¯     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  473319
      å®¶å…·    497504
      æŠ€æœ¯    375905

[91 rows x 1 columns]

### 7 - æ•°æ®é€è§†ï½œå¤šå±‚

åˆ¶ä½œå„çœå¸‚ã€Œä¸åŒç±»åˆ«ã€äº§å“çš„ã€Œé”€å”®æ€»é¢ã€é€è§†è¡¨

In [28]:
pd.pivot_table(df,values=['é”€å”®é¢'],index=['çœ/è‡ªæ²»åŒº'],columns=['ç±»åˆ«'],aggfunc='sum')

            é”€å”®é¢
ç±»åˆ«         åŠå…¬ç”¨å“        å®¶å…·        æŠ€æœ¯
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     198529.0  221058.0  175014.0
äº‘å—     123051.0  174155.0  144512.0
å†…è’™å¤     74058.0   95426.0   80333.0
åŒ—äº¬     144232.0  127407.0   78913.0
å‰æ—     215143.0  287498.0  394083.0
å››å·     111393.0   88297.0   70095.0
å¤©æ´¥     142526.0  149452.0  191384.0
å®å¤      19529.0   16449.0    5314.0
å®‰å¾½     200511.0  215901.0  267841.0
å±±ä¸œ     575520.0  664339.0  644271.0
å±±è¥¿     121458.0  175522.0  132103.0
å¹¿ä¸œ     494643.0  530054.0  495840.0
å¹¿è¥¿     102625.0  165140.0  115824.0
æ–°ç–†      38345.0   20520.0   14059.0
æ±Ÿè‹     163919.0  152868.0   85101.0
æ±Ÿè¥¿      37114.0  107047.0   78051.0
æ²³åŒ—     284739.0  306535.0  307765.0
æ²³å—     266916.0  294593.0  368856.0
æµ™æ±Ÿ      84471.0   84436.0   97854.0
æµ·å—      34141.0   41225.0   24509.0
æ¹–åŒ—     112230.0  118053.0  177758.0
æ¹–å—     197969.0  241804.0  281893.0
ç”˜è‚ƒ      54012.0   68657.0   72884.0
ç¦å»º     142728.0  243289.0  234055.0
è¥¿è—        201.0       NaN       NaN
è´µå·       9713.0   29285.0   28023.0
è¾½å®     214994.0  270279.0  271404.0
é‡åº†      71020.0   96318.0  116194.0
é™•è¥¿     119169.0  187497.0   90142.0
é’æµ·      16718.0   25923.0   22896.0
é»‘é¾™æ±Ÿ    473319.0  497504.0  375905.0

### 8 - æ•°æ®é€è§†ï½œç»¼åˆ

åˆ¶ä½œã€Œå„çœå¸‚ã€ã€ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®é‡ä¸é”€å”®é¢ã€çš„ã€Œå‡å€¼ä¸æ€»å’Œã€çš„æ•°æ®é€è§†è¡¨ï¼Œå¹¶åœ¨æœ€åè¿½åŠ ä¸€è¡Œã€åˆè®¡ã€

In [29]:
pd.pivot_table(df,values=['é”€å”®é¢','æ•°é‡'],index=['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc=['sum','mean'],margins=True)

              sum                mean
               æ•°é‡       é”€å”®é¢        æ•°é‡          é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“    645    198529  3.706897  1140.971264
      å®¶å…·      343    221058  4.132530  2663.349398
      æŠ€æœ¯      217    175014  3.616667  2916.900000
äº‘å—    åŠå…¬ç”¨å“    540    123051  3.913043   891.673913
      å®¶å…·      207    174155  4.224490  3554.183673
...           ...       ...       ...          ...
é’æµ·    æŠ€æœ¯       23     22896  3.833333  3816.000000
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“   1591    473319  3.657471  1088.089655
      å®¶å…·      651    497504  3.921687  2997.012048
      æŠ€æœ¯      506    375905  3.442177  2557.176871
All         37436  15984343  3.768093  1608.892099

[92 rows x 4 columns]

In [31]:
pd.pivot_table(df,values=['é”€å”®é¢','æ•°é‡'],index=['çœ/è‡ªæ²»åŒº'],columns=['ç±»åˆ«'],aggfunc=['sum','mean'])#,margins=True)

           sum                                                          \
            æ•°é‡                               é”€å”®é¢
ç±»åˆ«        åŠå…¬ç”¨å“      å®¶å…·      æŠ€æœ¯    All       åŠå…¬ç”¨å“         å®¶å…·         æŠ€æœ¯
çœ/è‡ªæ²»åŒº
ä¸Šæµ·       645.0   343.0   217.0   1205   198529.0   221058.0   175014.0
äº‘å—       540.0   207.0   194.0    941   123051.0   174155.0   144512.0
å†…è’™å¤      390.0   148.0   106.0    644    74058.0    95426.0    80333.0
åŒ—äº¬       465.0   170.0   115.0    750   144232.0   127407.0    78913.0
å‰æ—      1042.0   400.0   510.0   1952   215143.0   287498.0   394083.0
å››å·       525.0   198.0   126.0    849   111393.0    88297.0    70095.0
å¤©æ´¥       709.0   244.0   219.0   1172   142526.0   149452.0   191384.0
å®å¤        45.0    41.0    13.0     99    19529.0    16449.0     5314.0
å®‰å¾½       987.0   352.0   344.0   1683   200511.0   215901.0   267841.0
å±±ä¸œ      2518.0   952.0   843.0   4313   575520.0   664339.0   644271.0
å±±è¥¿       520.0   189.0   227.0    936   121458.0   175522.0   132103.0
å¹¿ä¸œ      2126.0   743.0   771.0   3640   494643.0   530054.0   495840.0
å¹¿è¥¿       522.0   234.0   178.0    934   102625.0   165140.0   115824.0
æ–°ç–†       118.0    44.0    36.0    198    38345.0    20520.0    14059.0
æ±Ÿè‹       743.0   277.0   187.0   1207   163919.0   152868.0    85101.0
æ±Ÿè¥¿       229.0   115.0    91.0    435    37114.0   107047.0    78051.0
æ²³åŒ—      1143.0   405.0   376.0   1924   284739.0   306535.0   307765.0
æ²³å—      1259.0   447.0   493.0   2199   266916.0   294593.0   368856.0
æµ™æ±Ÿ       420.0   152.0   149.0    721    84471.0    84436.0    97854.0
æµ·å—       116.0    55.0    30.0    201    34141.0    41225.0    24509.0
æ¹–åŒ—       638.0   237.0   261.0   1136   112230.0   118053.0   177758.0
æ¹–å—       951.0   351.0   390.0   1692   197969.0   241804.0   281893.0
ç”˜è‚ƒ       265.0   143.0   125.0    533    54012.0    68657.0    72884.0
ç¦å»º       726.0   345.0   251.0   1322   142728.0   243289.0   234055.0
è¥¿è—         3.0     NaN     NaN      3      201.0        NaN        NaN
è´µå·        87.0    53.0    54.0    194     9713.0    29285.0    28023.0
è¾½å®      1130.0   524.0   488.0   2142   214994.0   270279.0   271404.0
é‡åº†       438.0   182.0   163.0    783    71020.0    96318.0   116194.0
é™•è¥¿       458.0   211.0   127.0    796   119169.0   187497.0    90142.0
é’æµ·        40.0    21.0    23.0     84    16718.0    25923.0    22896.0
é»‘é¾™æ±Ÿ     1591.0   651.0   506.0   2748   473319.0   497504.0   375905.0
All    21389.0  8434.0  7613.0  37436  4844936.0  5696531.0  5442876.0

                     mean                                             \
                       æ•°é‡                                        é”€å”®é¢
ç±»åˆ«          All      åŠå…¬ç”¨å“        å®¶å…·        æŠ€æœ¯       All         åŠå…¬ç”¨å“
çœ/è‡ªæ²»åŒº
ä¸Šæµ·       594601  3.706897  4.132530  3.616667  3.801262  1140.971264
äº‘å—       441718  3.913043  4.224490  3.880000  3.970464   891.673913
å†…è’™å¤      249817  3.391304  3.363636  3.419355  3.389474   643.982609
åŒ—äº¬       350552  3.750000  3.695652  3.484848  3.694581  1163.161290
å‰æ—       896724  3.520270  3.773585  4.080000  3.703985   726.834459
å››å·       269785  3.947368  3.245902  3.230769  3.643777   837.541353
å¤©æ´¥       483362  3.917127  4.206897  3.590164  3.906667   787.436464
å®å¤        41292  3.750000  4.555556  3.250000  3.960000  1627.416667
å®‰å¾½       684253  3.710526  3.485149  3.583333  3.634989   753.800752
å±±ä¸œ      1884130  3.775112  3.733333  3.746667  3.760244   862.848576
å±±è¥¿       429083  3.880597  3.780000  3.721311  3.820408   906.402985
å¹¿ä¸œ      1520537  3.908088  3.555024  3.816832  3.811518   909.270221
å¹¿è¥¿       383589  3.954545  4.034483  4.564103  4.078603   777.462121
æ–°ç–†        72924  3.575758  4.000000  4.500000  3.807692  1161.969697
æ±Ÿè‹       401888  3.849741  3.794521  3.895833  3.843949   849.321244
æ±Ÿè¥¿       222212  3.523077  4.791667  3.791667  3.849558   570.984615
æ²³åŒ—       899039  3.968750  3.616071  3.580952  3.809901   988.677083
æ²³å—       930365  3.628242  3.519685  4.008130  3.683417   769.210375
æµ™æ±Ÿ       266761  3.684211  3.534884  3.634146  3.641414   740.973684
æµ·å—        99875  3.314286  3.928571  3.333333  3.465517   975.457143
æ¹–åŒ—       408041  3.666667  3.485294  3.954545  3.688312   645.000000
æ¹–å—       721666  3.629771  3.988636  3.900000  3.760000   755.606870
ç”˜è‚ƒ       195553  4.206349  4.468750  4.629630  4.368852   857.333333
ç¦å»º       620072  3.801047  3.670213  3.438356  3.692737   747.267016
è¥¿è—          201  3.000000       NaN       NaN  3.000000   201.000000
è´µå·        67021  3.954545  4.416667  4.153846  4.127660   441.500000
è¾½å®       756677  3.741722  4.062016  3.935484  3.859459   711.900662
é‡åº†       283532  3.876106  3.568627  3.975610  3.819512   628.495575
é™•è¥¿       396808  3.816667  4.057692  3.256410  3.772512   993.075000
é’æµ·        65537  4.444444  3.000000  3.833333  3.818182  1857.555556
é»‘é¾™æ±Ÿ     1346728  3.657471  3.921687  3.442177  3.673797  1088.089655
All    15984343  3.763681  3.778674  3.768812  3.768093   852.531409



ç±»åˆ«              å®¶å…·           æŠ€æœ¯          All
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     2663.349398  2916.900000  1875.712934
äº‘å—     3554.183673  2890.240000  1863.789030
å†…è’™å¤    2168.772727  2591.387097  1314.826316
åŒ—äº¬     2769.717391  2391.303030  1726.857143
å‰æ—     2712.245283  3152.664000  1701.563567
å››å·     1447.491803  1797.307692  1157.875536
å¤©æ´¥     2576.758621  3137.442623  1611.206667
å®å¤     1827.666667  1328.500000  1651.680000
å®‰å¾½     2137.633663  2790.010417  1477.868251
å±±ä¸œ     2605.250980  2863.426667  1642.659111
å±±è¥¿     3510.440000  2165.622951  1751.359184
å¹¿ä¸œ     2536.143541  2454.653465  1592.185340
å¹¿è¥¿     2847.241379  2969.846154  1675.061135
æ–°ç–†     1865.454545  1757.375000  1402.384615
æ±Ÿè‹     2094.082192  1772.937500  1279.898089
æ±Ÿè¥¿     4460.291667  3252.125000  1966.477876
æ²³åŒ—     2736.919643  2931.095238  1780.275248
æ²³å—     2319.629921  2998.829268  1558.400335
æµ™æ±Ÿ     1963.627907  2386.682927  1347.277778
æµ·å—     2944.642857  2723.222222  1721.982759
æ¹–åŒ—     1736.073529  2693.303030  1324.808442
æ¹–å—     2747.772727  2818.930000  1603.702222
ç”˜è‚ƒ     2145.531250  2699.407407  1602.893443
ç¦å»º     2588.180851  3206.232877  1732.044693
è¥¿è—             NaN          NaN   201.000000
è´µå·     2440.416667  2155.615385  1425.978723
è¾½å®     2095.186047  2188.741935  1363.381982
é‡åº†     1888.588235  2834.000000  1383.082927
é™•è¥¿     3605.711538  2311.333333  1880.606635
é’æµ·     3703.285714  3816.000000  2978.954545
é»‘é¾™æ±Ÿ    2997.012048  2557.176871  1800.438503
All    2552.209229  2694.493069  1608.892099

### 9 - æ•°æ®é€è§†ï½œç­›é€‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼ŒæŸ¥è¯¢ **ã€Œç±»åˆ«ã€** ç­‰äº **ã€ŒåŠå…¬ç”¨å“ã€** çš„è¯¦æƒ…

In [9]:
ans(9)

table = pd.pivot_table(df,values = ['é”€å”®é¢','æ•°é‡'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc = ['mean',sum],margins=True)
table.query('ç±»åˆ« == ["åŠå…¬ç”¨å“"]')

In [30]:
pd.pivot_table(df,values = ['é”€å”®é¢','æ•°é‡'],index = ['çœ/è‡ªæ²»åŒº','ç±»åˆ«'],aggfunc = ['mean',sum],margins=True).query('ç±»åˆ« == ["åŠå…¬ç”¨å“"]')

                mean                sum
                  æ•°é‡          é”€å”®é¢    æ•°é‡     é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897  1140.971264   645  198529
äº‘å—    åŠå…¬ç”¨å“  3.913043   891.673913   540  123051
å†…è’™å¤   åŠå…¬ç”¨å“  3.391304   643.982609   390   74058
åŒ—äº¬    åŠå…¬ç”¨å“  3.750000  1163.161290   465  144232
å‰æ—    åŠå…¬ç”¨å“  3.520270   726.834459  1042  215143
å››å·    åŠå…¬ç”¨å“  3.947368   837.541353   525  111393
å¤©æ´¥    åŠå…¬ç”¨å“  3.917127   787.436464   709  142526
å®å¤    åŠå…¬ç”¨å“  3.750000  1627.416667    45   19529
å®‰å¾½    åŠå…¬ç”¨å“  3.710526   753.800752   987  200511
å±±ä¸œ    åŠå…¬ç”¨å“  3.775112   862.848576  2518  575520
å±±è¥¿    åŠå…¬ç”¨å“  3.880597   906.402985   520  121458
å¹¿ä¸œ    åŠå…¬ç”¨å“  3.908088   909.270221  2126  494643
å¹¿è¥¿    åŠå…¬ç”¨å“  3.954545   777.462121   522  102625
æ–°ç–†    åŠå…¬ç”¨å“  3.575758  1161.969697   118   38345
æ±Ÿè‹    åŠå…¬ç”¨å“  3.849741   849.321244   743  163919
æ±Ÿè¥¿    åŠå…¬ç”¨å“  3.523077   570.984615   229   37114
æ²³åŒ—    åŠå…¬ç”¨å“  3.968750   988.677083  1143  284739
æ²³å—    åŠå…¬ç”¨å“  3.628242   769.210375  1259  266916
æµ™æ±Ÿ    åŠå…¬ç”¨å“  3.684211   740.973684   420   84471
æµ·å—    åŠå…¬ç”¨å“  3.314286   975.457143   116   34141
æ¹–åŒ—    åŠå…¬ç”¨å“  3.666667   645.000000   638  112230
æ¹–å—    åŠå…¬ç”¨å“  3.629771   755.606870   951  197969
ç”˜è‚ƒ    åŠå…¬ç”¨å“  4.206349   857.333333   265   54012
ç¦å»º    åŠå…¬ç”¨å“  3.801047   747.267016   726  142728
è¥¿è—    åŠå…¬ç”¨å“  3.000000   201.000000     3     201
è´µå·    åŠå…¬ç”¨å“  3.954545   441.500000    87    9713
è¾½å®    åŠå…¬ç”¨å“  3.741722   711.900662  1130  214994
é‡åº†    åŠå…¬ç”¨å“  3.876106   628.495575   438   71020
é™•è¥¿    åŠå…¬ç”¨å“  3.816667   993.075000   458  119169
é’æµ·    åŠå…¬ç”¨å“  4.444444  1857.555556    40   16718
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471  1088.089655  1591  473319

### 10 -æ•°æ®é€è§†ï½œé€†é€è§†

é€†é€è§†å°±æ˜¯å°†å®½çš„è¡¨è½¬æ¢ä¸ºé•¿çš„è¡¨ï¼Œä¾‹å¦‚å°†ç¬¬ 5 é¢˜çš„é€è§†è¡¨è¿›è¡Œé€†é€è§†ï¼Œå…¶ä¸­ä¸éœ€è¦è½¬æ¢çš„åˆ—ä¸ºã€æ•°é‡ã€åˆ—

- èµ„æ–™
    - https://vimsky.com/examples/usage/python-pandas-melt.html
    - https://pandas.pydata.org/docs/reference/api/pandas.melt.html

In [40]:
# å°è¯•1
pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦','æ•°é‡'],index = 'ç±»åˆ«',aggfunc = sum)

          åˆ©æ¶¦     æ•°é‡      é”€å”®é¢
ç±»åˆ«
åŠå…¬ç”¨å“  752124  21389  4844936
å®¶å…·    628052   8434  5696531
æŠ€æœ¯    742264   7613  5442876

In [44]:
table = pd.pivot_table(df,values = ['é”€å”®é¢','åˆ©æ¶¦','æ•°é‡'],index = 'ç±»åˆ«',aggfunc = sum)
table.melt(id_vars=['æ•°é‡'],var_name='åˆ†ç±»',value_name='é‡‘é¢')

      æ•°é‡   åˆ†ç±»       é‡‘é¢
0  21389   åˆ©æ¶¦   752124
1   8434   åˆ©æ¶¦   628052
2   7613   åˆ©æ¶¦   742264
3  21389  é”€å”®é¢  4844936
4   8434  é”€å”®é¢  5696531
5   7613  é”€å”®é¢  5442876

In [47]:
table.melt(id_vars='æ•°é‡',ignore_index=False)

         æ•°é‡ variable    value
ç±»åˆ«
åŠå…¬ç”¨å“  21389       åˆ©æ¶¦   752124
å®¶å…·     8434       åˆ©æ¶¦   628052
æŠ€æœ¯     7613       åˆ©æ¶¦   742264
åŠå…¬ç”¨å“  21389      é”€å”®é¢  4844936
å®¶å…·     8434      é”€å”®é¢  5696531
æŠ€æœ¯     7613      é”€å”®é¢  5442876

In [48]:
table.melt(id_vars=['æ•°é‡','åˆ©æ¶¦'],ignore_index=False)

         æ•°é‡      åˆ©æ¶¦ variable    value
ç±»åˆ«
åŠå…¬ç”¨å“  21389  752124      é”€å”®é¢  4844936
å®¶å…·     8434  628052      é”€å”®é¢  5696531
æŠ€æœ¯     7613  742264      é”€å”®é¢  5442876

In [35]:
# ï¼ˆé”™è¯¯å°è¯•ï¼‰
pd.DataFrame(pd.pivot_table(df,values=['é”€å”®é¢','åˆ©æ¶¦'],index=['çœ/è‡ªæ²»åŒº'],aggfunc='sum').stack())

                 0
çœ/è‡ªæ²»åŒº
ä¸Šæµ·    åˆ©æ¶¦     87236
      é”€å”®é¢   594601
äº‘å—    åˆ©æ¶¦     83201
      é”€å”®é¢   441718
å†…è’™å¤   åˆ©æ¶¦    -20685
...            ...
é™•è¥¿    é”€å”®é¢   396808
é’æµ·    åˆ©æ¶¦      4354
      é”€å”®é¢    65537
é»‘é¾™æ±Ÿ   åˆ©æ¶¦    228262
      é”€å”®é¢  1346728

[62 rows x 1 columns]

In [36]:
pd.DataFrame(pd.pivot_table(df,values=['é”€å”®é¢','åˆ©æ¶¦'],index=['çœ/è‡ªæ²»åŒº'],aggfunc='sum').unstack())

                 0
    çœ/è‡ªæ²»åŒº
åˆ©æ¶¦  ä¸Šæµ·       87236
    äº‘å—       83201
    å†…è’™å¤     -20685
    åŒ—äº¬       57883
    å‰æ—      152504
...            ...
é”€å”®é¢ è¾½å®      756677
    é‡åº†      283532
    é™•è¥¿      396808
    é’æµ·       65537
    é»‘é¾™æ±Ÿ    1346728

[62 rows x 1 columns]

## æ•°æ®åˆå¹¶

### concat - æ•°æ®æ‹¼æ¥

`concat`ä¸»è¦ç”¨äº**æ•°æ®æ‹¼æ¥**ï¼Œä¹Ÿæ˜¯éå¸¸å¸¸ç”¨çš„ä¸€ä¸ªæ“ä½œ

é™¤äº†å®˜æ–¹æ–‡æ¡£å¤–å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ 

ä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œä¸‹æ–¹ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

https://cloud.tencent.com/developer/article/1640799

In [49]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [50]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [51]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [52]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [53]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

#### 11 - <font color = '#FB8E00'>concat</font>ï½œé»˜è®¤æ‹¼æ¥

æ‹¼æ¥ df1 å’Œ df2

In [54]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

#### 12 - <font color = '#FB8E00'>concat</font>ï½œæ‹¼æ¥å¤šä¸ª

å‚ç›´æ‹¼æ¥ `df1ã€df2ã€df3`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [55]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### 13 - <font color = '#FB8E00'>concat</font>ï½œé‡ç½®ç´¢å¼•

å‚ç›´æ‹¼æ¥ df1 å’Œ df4ï¼Œå¹¶æŒ‰é¡ºåºé‡æ–°ç”Ÿæˆç´¢å¼•ï¼Œ

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [56]:
pd.concat([df1,df4],ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥

æ¨ªå‘æ‹¼æ¥ `df1ã€df4`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [57]:
pd.concat([df1,df4],axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

#### 15 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–äº¤é›†ï¼‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåªå–ç»“æœçš„äº¤é›†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [58]:
pd.concat([df1,df4],axis=1,join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

#### 16 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–æŒ‡å®šï¼‰

åœ¨ 14 é¢˜åŸºç¡€ä¸Šï¼Œåªå–åŒ…å« df1 ç´¢å¼•çš„éƒ¨åˆ†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [59]:
pd.concat([df1, df4], axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

#### 17 - <font color = '#FB8E00'>concat</font>ï½œæ–°å¢ç´¢å¼•

æ‹¼æ¥ `df1ã€df2ã€df3`ï¼ŒåŒæ—¶æ–°å¢ä¸€ä¸ªç´¢å¼•ï¼ˆ`xã€yã€z`ï¼‰æ¥åŒºåˆ†ä¸åŒçš„è¡¨æ•°æ®æ¥æº

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [61]:
pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - æ•°æ®è¿æ¥

concatæ˜¯æ‹¼æ¥ï¼Œmergeåˆ™æ˜¯è¿æ¥ï¼ŒåŒæ ·é‡è¦çš„ä¸€ä¸ªæ“ä½œ

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

#### 18 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å•é”®

æ ¹æ® `key` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [62]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [63]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [64]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [4]:
ans(18)

pd.merge(left, right, on='key')

In [65]:
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å¤šé”®

æ ¹æ® `key1` å’Œ `key2` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [66]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [67]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [68]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [69]:
pd.merge(left, right, on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 20 - <font color = '#1B85FF' >merge</font>ï½œå·¦å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å·¦è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [70]:
pd.merge(left, right, on=['key1', 'key2'],how='left')

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

#### 21 - <font color = '#1B85FF' >merge</font>ï½œå³å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å³è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [71]:
pd.merge(left, right, on=['key1', 'key2'],how='right')

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

#### 22 - <font color = '#1B85FF' >merge</font>ï½œå…¨å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [72]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

#### 23 - <font color = '#1B85FF' >merge</font>ï½œå†…è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™äº¤é›†
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [73]:
pd.merge(left, right, how='inner', on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 24 - <font color = '#1B85FF' >merge</font>ï½œé‡å¤ç´¢å¼•


é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [74]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

In [75]:
left

    k  v
0  K0  1
1  K1  2
2  K2  3

In [76]:
right

    k  v
0  K0  4
1  K0  5
2  K3  6

In [77]:
pd.merge(left, right, on='k', suffixes=['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - ç»„åˆ

æœ€åä¸€ä¸ªæ•°æ®åˆå¹¶çš„å¸¸ç”¨ä¸”é‡è¦çš„æ“ä½œæ˜¯`join`

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [78]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [79]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [80]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

#### 25 -  <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½

åˆå¹¶ left å’Œ rightï¼Œå¹¶æŒ‰ç…§ left çš„ç´¢å¼•è¿›è¡Œå¯¹é½

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [81]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

#### 26 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå¤–è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

æ€è€ƒï¼šmerge åšæ³•

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [82]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

#### 27 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå†…è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [83]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

#### 28 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [84]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [85]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#### 29 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•ï¼ˆå¤šä¸ªï¼‰

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key1` å’Œ `key2`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [86]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [87]:
left.join(right, on=['key1', 'key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3